@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://images.pexels.com/photos/1171084/pexels-photo-1171084.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    border: 2px saddlebrown solid;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.275);
}

img {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    object-fit: contain;
}

.home,
.away {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

#score-el,
#away-score-el {
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Quantico', sans-serif;
    color: rgb(70, 70, 70);
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
    color: green;
    font-size: 24px;
    font-style: italic;
}

button:hover {
    background-color: green;
    color: white;
}
